<launch>

<!-- A simple launch file for the urg_node package. -->

<!--  When using an IP-connected LIDAR, populate the "ip_address" parameter with the address of the LIDAR.
      Otherwise, leave it blank. If supported by your LIDAR, you may enable the publish_intensity
      and/or publish_multiecho options. -->

  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.0.10"/>
    <param name="frame_id" value="laser"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="true"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-2.35619449"/>
    <param name="angle_max" value="2.35619449"/>
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_filter">
    <rosparam param="scan_filter_chain" subst_value="true"  >
      - name: shadows
        params: {max_angle: 175, min_angle: 5, neighbors: 3, window: 2}
        type: laser_filters/ScanShadowsFilter
    </rosparam>
    <!-- <remap from="scan" to="scan_unfiltered" /> -->
    <!-- <remap from="scan_filtered" to="scan" /> -->
  </node>

</launch>
